* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: "Fira Sans", sans-serif;
    --second-family: "Montserrat", sans-serif;

    --color-white: #fff;
    --color-black: #333;;
    --color-brown: #dba069;
}

/*Fonts*/
.fira-sans-bold {
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--color-white);
}

.fira-sans-bold-black {
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--color-black);
}

.fira-sans-light {
    font-family: var(--font-family);
    font-weight: 300;
    color: var(--color-black);
}

.fira-sans-regular {
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--color-white);
}

.fira-sans-medium {
    font-family: var(--font-family);
    font-weight: 500;
    color: var(--color-white);
}

.gotham-pro-bold {
    font-family: var(--second-family);
    font-weight: 700;
    color: var(--color-black);
}

/*General*/
.content-container {
    margin: 0 130px;
    position: relative;
    z-index: 2;
}

/*Header*/
.header {
    position: relative;
    min-height: 70vh;
    background-image: url('public/header/header-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--color-white);
    font-family: var(--font-family);
}

/*vertical lines*/
.header__vertical-line-container {
    width: 100%;
    height: 100%;
}

.header__line {
    position: absolute;
    height: 900px;
    border-left: 1px solid var(--color-white);
    opacity: 0.2;
}

.header__one-line {
    left: 130px;
}

.header__two-line {
    left: 425px;
}

.header__three-line {
    left: 720px;
}

.header__four-line {
    left: 1018px;
}

.header__five-line {
    right: 130px;
}

.header__background-img {
    width: 100%;
    position: absolute;
    z-index: -999;
}

.header__symbol {
    position: absolute;
    z-index: -998;
    top: 40%;
    right: 0;
    bottom: 0;
    transform-origin: right bottom;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.header__contact-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__contact-container {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.header__phone-container {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid var(--color-brown);
    border-radius: 3px;
}

.header__phone-number {
    white-space: nowrap;
    font-size: 20px;
}

.header__navbar-container {
    margin: 0 10px;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.header__navbar-item {
    font-size: 1rem;
}

.navbar-active {
    border-bottom: 4px solid var(--color-brown);
}

/*content*/
.header__content-container {
    margin-top: 115px;
    display: flex;
    justify-content: space-between;
    gap: 42px;
}

.header__content-desc {
    width: 71.69%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.header__content-title {
    font-size: 38px;
    line-height: 140%;
}

.header__content-download {
    width: 245px;
    height: 65px;
    padding: 20px 30px;
    background-color: var(--color-brown);
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.header__content-count--all {
    padding-top: 20px;
    font-size: 32px;
}

.header__content-count-item {
    font-size: 128px;
    line-height: 84%;
}

.header__content-desk-card {
    font-size: 20px;
    line-height: 140%;
}

.header__content-deadlines {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
}

.heder__content-cards {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

/*About project*/

.about-project {

}

main {
    position: relative;
    z-index: 3;
    background: white;
}