:root {
    --font-family: "Noto Sans";
    --second-family: "Noto Sans JP";
    --third-family: "Roboto";

    --color-gray: #868585;
    --color-white: #FFFFFF;
    --color-black: #303030;
    --color-hover: #A9A32A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Content container*/

.content-container {
    width:70vw;
    margin: 150px auto;
}

/**********************************************************************************************************************/
/*Header*/
.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80vh;
    position: relative;
}

.cover__background-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -999;
    width: 100%;
    height: 80vh;
}

.cover__logo {
    margin-top: 70px;
}

.cover__p-tariff {
    margin-top: 125px;
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-white);
}

.cover__title {
    font-family: var(--font-family), sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: var(--color-white);
}

.cover__descriptor {
    margin-top: 3px;
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 42px;
    color: var(--color-white);
}

/*cover button*/
.cover__consultation {
    margin-top: 50px;
}

.cover__consultation-button {
    transition: background-color 0.3s ease-in-out;
    border-radius: 50%;
}

.cover__consultation-button:hover {
    background-color: var(--color-hover);
    border-radius: 50%;
}

.cover__consultation-description {
    position: relative;
    top: -50px;
    left: 50px;
    color: var(--color-white);
}

/*socmedia*/

.cover__socmedia {
    display: flex;
    gap: 20px;
    position: relative;
    top: 155px;
}
/**********************************************************************************************************************/
/*Services*/

.services__title {
    margin-bottom: 60px;
    font-family: var(--font-family), sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: var(--color-gray);
}

.services__content {
    display: flex;
    column-gap: 50px;
}

.services__text-container {
    width: 50%;
}

.services__text-block {
    margin-bottom: 50px;
}

.services__text-block:last-child {
    margin-bottom: 0;
}

.services__text-title {
    font-family: var(--font-family), sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--color-black);
}

.services__text-desk {
    margin-top: 15px;
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-black);

}

.services__img-container {
    width: 50%;
}

.services__img {
    width: 100%;
    height: 100%;
}

/**********************************************************************************************************************/
/**/