:root {
    --font-family: "Noto Sans";
    --second-family: "Noto Sans JP";
    --third-family: "Roboto";

    --color-gray: #868585;
    --color-white: #FFFFFF;
    --color-black: #303030;
    --color-hover: #A9A32A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Content container*/

.content-container {
    width:70vw;
    margin: 150px auto;
}

/*General*/

.section__content {
    display: flex;
    column-gap: 50px;
}

.content-container__title {
    margin-bottom: 60px;
    font-family: var(--font-family), sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: var(--color-gray);
}

.arrow__img-right {
    transform: rotateY(180deg);
}

/*Меняем цвет через фильтр т.к это SVG color не работает*/
.arrow__img-left:hover,
.arrow__img-right:hover {
    filter:
            invert(70%)
            sepia(20%)
            saturate(800%)
            hue-rotate(15deg);
}

/*cover button*/
.consultation {
    margin-top: 50px;
}

.cover__consultation-button {
    transition: background-color 0.3s ease-in-out;
    border-radius: 50%;
}

.consultation-button:hover {
    background-color: var(--color-hover);
    border-radius: 50%;
}

.consultation-description {
    position: relative;
    top: -50px;
    left: 50px;
    color: var(--color-white);
}

.consultation-description-black {
    position: relative;
    top: -50px;
    left: 50px;
    color: var(--color-black);
}

/**********************************************************************************************************************/
/*Header*/
.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80vh;
    position: relative;
}

.cover__background-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -999;
    width: 100%;
    height: 80vh;
}

.cover__logo {
    margin-top: 70px;
}

.cover__p-tariff {
    margin-top: 125px;
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-white);
}

.cover__title {
    font-family: var(--font-family), sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: var(--color-white);
}

.cover__descriptor {
    margin-top: 3px;
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 42px;
    color: var(--color-white);
}

/*socmedia*/

.cover__socmedia {
    display: flex;
    gap: 20px;
    position: relative;
    top: 155px;
}

.cover__socmedia img {
    cursor: pointer;
}
/**********************************************************************************************************************/
/*Services*/

.services__title {
    margin-bottom: 60px;
    font-family: var(--font-family), sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: var(--color-gray);
}

.services__text-container {
    width: 50%;
}

.services__text-block {
    margin-bottom: 50px;
}

.services__text-block:last-child {
    margin-bottom: 0;
}

.services__text-title {
    font-family: var(--font-family), sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--color-black);
}

.services__text-desk {
    margin-top: 15px;
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-black);

}

.services__img-container {
    width: 50%;
}

.services__img {
    width: 100%;
    height: 100%;
}

/**********************************************************************************************************************/
/*Tariff*/

.tariff__text-container {
    width: 50%;
}

.tariff__img-container {
    width: 50%;
}

.tariff__cost-description-container {
    height: 100%;
}

.tariff__tabs-container {
    display: flex;
    column-gap: 40px;
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-black);
}

.tariff__tabs_active {
    border-bottom: 1px solid var(--color-black);
}

.tariff__cost-container {
    display: flex;
    margin-top: 120px;
}

.tariff__img-cost-container {
    margin-right: 40px;
}

.tariff__text-desk {
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-black);
}

.tariff__conditions-container {
    display: flex;
    column-gap: 40px;
    row-gap: 16px;
    flex-wrap: wrap;
    margin-top: 100px;
}

.tariff__condition {
    width: 45%;
}

.tariff__condition-title {
    font-family: var(--font-family), sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--color-black);
}

.tariff__condition-description {
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-black);

}

.arrow-container {
    display: flex;
    column-gap: 22px;
    margin-top: 110px;
}

.tariff__img-description {
    margin-bottom: 17px;
    font-family: var(--font-family), sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--color-black);
}

/*Quote*/

.quote {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0;
}

.quote__background-img {
    width: 100%;
    position: absolute;
    z-index: -999;
}

.quote__text {
    width: 40%;
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 42px;
    text-align: center;
    color: var(--color-white);
}

/*Our clients*/

.our-client__arrow-container {
    margin-top: 32px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    gap: 22px;
}

.our-client__text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.our-client__text-title {
    font-family: var(--font-family), sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--color-black);
}

.our-client__text-list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-left: 50px;
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-black);

}

.our-client__list-item {
    list-style: none;
}